@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

.anta-regular {
    font-family: "Anta", serif;
    font-style: normal;
}

[data-testid="stAppViewContainer"]{
    /* background: #04042c; */
    /* background-color: white; */
    /* background: rgb(66,66,142);
    background: linear-gradient(180deg, rgba(66,66,142,1) 75%, rgba(122,87,154,1) 100%); */
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 75%, rgba(65,0,124,1) 100%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: local;
    }
[data-testid="stHeader"] {
    /* background: #04042c; */
    background-color: black;
    }


html, body, [class*="css"]{
    font-family: 'Anta', serif;
}

/* Markdown */
.stMarkdown {
    text-align: center;
    font-size: 60px;
    font-family: "Anta", serif;
    color:white;
    text-shadow: 5px 6px 20px rgb(96, 31, 120),-3px 4px 20px white;
}

/* Images */
[data-testid="stImage"] {
    margin:auto;
}
[data-testid="stImageContainer"]{
    /* background-color: aqua; */
    margin:auto;
    /* padding: 5px 5px 5px 5px; */
    border-radius:15px;
    border:3px dotted #fbfbfb80;
}
/* #### Run header */
/* [data-testid="block-container"] {
    /* background-color:red;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
    margin-bottom: -8rem; */

[data-testid="stSidebarUserContent"]{
    background: black;
    }

[data-testid="stSidebar"] {
    background: black;
    width: 100px;
}
/* [data-testid="stVerticalBlock"] {
    background-color: red;
} */

[data-testid="stElementContainer"]{
    /* background-color:rgb(17, 14, 18); */
    background-color:black;
    border-radius:15px;
    box-shadow: 10px 10px 20px rgb(32, 2, 36);
    margin:auto;
    text-align: center;
}
[data-testid="stFullScreenFrame"]{
    /* padding:10px; */
    margin:align;
    text-align: center;
}
th, td {
    border:10px solid #fb449a;
    border:10px solid #0035a7;
    border:10px solid #fdbd0c;
    border:10px solid #00d732;
    border:10px solid #0073d7;
    border:10px solid #8600a7
}
/* div[data-testid="stExpander"] div[role="button"] p {
    font-size: 20px;
} */
.stPlotlyChart {
    height: 90vh !important;
}
[data-testid="stMarkdownContainer"]{
    
    text-align: center;
    margin:auto;
}
[data-testid="stDataFrame"]{
    text-align: center;
}
/* [data-testid="stMarkdown"] {
    font-family:'Anta', serif;
} */
/* [data-testid="stMetric"] {
    background-color: #393939;
    text-align: center;
    padding: 15px 0;
} */

/* [data-testid="stMetricLabel"] {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* [data-testid="stMetricDeltaIcon-Up"] {
    position: relative;
    left: 38%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

[data-testid="stMetricDeltaIcon-Down"] {
    position: relative;
    left: 38%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
} */
