@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

.anta-regular {
    font-family: "Anta", serif;
    font-style: normal;
}

[data-testid="stAppViewContainer"]{
    /* background: #04042c; */
    background-color: black;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: local;
    }
[data-testid="stHeader"] {
    background: #04042c;
    }


html, body, [class*="css"]{
    font-family: 'Anta', serif;
}

/* Markdown */
.stMarkdown {
    text-align: center;
    font-size: 60px;
    font-family: "Anta", serif;
    color:white;
    text-shadow: 5px 6px 20px rgb(96, 31, 120),-3px 4px 20px white;
}

/* Images */
[data-testid="stImage"] {
    margin:auto;
}
[data-testid="stImageContainer"]{
    /* background-color: aqua; */
    margin:auto;
    padding: 5px 5px 5px 5px;
    border-radius:15px;
    border:3px dotted rgb(251, 251, 251,.5);
}
/* #### Run header */
/* [data-testid="block-container"] {
    /* background-color:red;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
    margin-bottom: -8rem; */

[data-testid="stSidebarUserContent"]{
    background: #04042c;
    }

[data-testid="stSidebar"] {
    background: #04042c;
    width: 100px;
}
/* [data-testid="stVerticalBlock"] {
    background-color: red;
} */

[data-testid="stElementContainer"]{
    background-color:rgb(17, 14, 18);
    border-radius:15px;
    margin:auto;
    text-align: center;
}
th, td {
    border:10px solid rgb(171, 48, 48);
}
[data-testid="stMarkdownContainer"]{
    
    text-align: center;
    margin:auto;
}
/* [data-testid="stMarkdown"] {
    font-family:'Anta', serif;
} */
/* [data-testid="stMetric"] {
    background-color: #393939;
    text-align: center;
    padding: 15px 0;
} */

/* [data-testid="stMetricLabel"] {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* [data-testid="stMetricDeltaIcon-Up"] {
    position: relative;
    left: 38%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

[data-testid="stMetricDeltaIcon-Down"] {
    position: relative;
    left: 38%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
} */
