@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

.anta-regular {
    font-family: "Anta", serif;
    font-weight: 400;
    font-style: normal;
}

[data-testid="stAppViewContainer"]{
    /* background: #04042c; */
    background-color: black;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: local;
    }
[data-testid="stHeader"] {
    background: #04042c;
    }


html, body, [class*="css"]{
    font-family: 'Anta', serif;
}
h1{
    font-family: 'Anta', serif !important;
    color:#181fd0;
}
/* Markdown */
.stMarkdown {
    text-align: center;
    font-size: 60px;
    font-family: "Anta", serif;
    color:white;
    text-shadow: 5px 6px 20px rgb(48, 20, 58),-3px 4px 20px white;
}

.blaster{
    font-family: 'anta' serif;
    font-size:20px;
}
/* Images */
[data-testid="stImage"] {
    margin:auto;
    margin-left:10px;
    padding-left:120px;
    
}

/* #### Run header */
[data-testid="block-container"] {
    background-color:#04042c;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
    margin-bottom: -8rem;
}
[data-testid="stSidebarUserContent"]{
    background: #04042c;
    }

[data-testid="stSidebar"] {
    background: #04042c;
    width: 100px;
}
[data-testid="stVerticalBlock"] {
    font-family: 'Anta', serif;
    padding-left: 0rem;
    padding-right: 0rem;
}
[data-testid="stMarkdown"] {
    font-family:'Anta', serif;
}
[data-testid="stMetric"] {
    background-color: #393939;
    text-align: center;
    padding: 15px 0;
}

[data-testid="stMetricLabel"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-testid="stMetricDeltaIcon-Up"] {
    position: relative;
    left: 38%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

[data-testid="stMetricDeltaIcon-Down"] {
    position: relative;
    left: 38%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
